<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Diary</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>日記の一覧表示</h1>

	<form method="post" action="#" th:action="@{/send}">
		<p>タイトル<input type="text" name="title"></p>
		<p>コンテンツ：<input type="text" name="content"></p>
		<input type="submit" value="送信">
	</form>
	
	<table>
		<tr>
			<th>id</th>
			<th>タイトル</th>
			<th>コンテンツ</th>
		</tr>
		<p th:text="'件数: '+${count}+'個'"></p>
		<tr th:each="diary : ${diarylist}">
			<td th:text="${diary.id}"></td>
			<td th:text="${diary.title}"></td>
			<td th:text="${diary.coment}"></td>
			<td>
				<form th:action="@{/del/{id}(id=${staff.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<form th:action="@{/edit/{id}(id=${staff.id})}">
					<input type="submit" value="編集" />
				</form>
			</td>
		</tr>
	</table>
	<p>
		<a href="http://localhost:8080/h2-console">データベース確認</a>
	</p>
</body>

</html>